# This is the configuration file for npm and yarn
# See https://docs.npmjs.com/files/npmrc

# here some common examples for configurations:
#registry=https://registry.npmjs.org/
#@test-scope:registry=https://my-production-line.s2-eu.capgemini.com/nexus3/content/repository/npm/
#//https://my-production-line.s2-eu.capgemini.com/nexus3/content/repository/npm/:_authToken=...
#email=test@user.com
