<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <!-- The "localRepository" has to be set to ensure consistent behaviour across command-line and Eclipse.
    To change it edit conf/variables-customized.bat -->
  <localRepository>${M2_REPO}</localRepository>

  <!-- 
   ATTENTION: 
   Never ever hardcode passwords as plain text!!!
   Instead simply follow this guide:
   https://maven.apache.org/guides/mini/guide-encryption.html
   devon-ide already genreates settings-security.xml for you
   so all you need to do is call:
     mvn --encrypt-password
   hit return and then type your password (do not supply as argument as otherwise it will be saved to the history of your shell)
   Then copy the encrypted password as according password to this settings.xml
   -->
  <servers>
    <server>
      <id>project</id>
      <username>${USER}</username>
      <!-- Put your encrypted password here -->
      <password>TODO</password>
    </server>
  </servers>

  <!--
  <mirrors>
    <mirror>
      <id>nexus.central</id>
      <mirrorOf>central</mirrorOf>
      <name>central-mirror</name>
      <url>http://my-production-line.s2-eu.capgemini.com/nexus3/repository/public</url>
    </mirror>
  </mirrors>
  -->

  <profiles>
    <profile>
      <id>devon-ide</id>
      <activation>
        <activeByDefault>true</activeByDefault> 
      </activation>
      <properties>
        <!--
        <sonar.host.url>http://localhost:9000/</sonar.host.url>
        <sonar.login>${USER}</sonar.login>
        <sonar.password>TODO</sonar.password>
        <jarsigner.storepass>TODO</jarsigner.storepass>
        <jarsigner.keystore>/projects/myproject/workspaces/main/keystore.p12</jarsigner.keystore>
        <gpg.keyname>your.email@address.com</gpg.keyname>
        -->
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <!--
    <activeProfile>my-profile</activeProfile>
    -->
  </activeProfiles>
</settings>
