name: CI Build Ubuntu
on:
  schedule:
   - cron: '0 0 * * *'
jobs:
  check_commit:
    uses: devonfw/ide/.github/workflows/check-edition.yml@master
  build:
    needs: check_commit
    if: ${{ needs.check_commit.outputs.should_run != 'false' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Build project with Maven
        run: mvn -B -ntp install
