name: CI Build Windows
on:
  schedule:
    - cron: '0 0 * * *'
jobs:
  check_commit:
    uses: devonfw/ide/.github/workflows/check-commit.yml@master
  
  build:
    needs: check_commit
    if: ${{ needs.check_commit.outputs.should_run != 'false' }}
    runs-on: windows-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Set up Shellcheck
        run: choco install shellcheck
      - name: Build project with Maven
        run: |
          export COMMAND_TEST=false
          mvn -B -ntp install
          
        
        
